@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 20vh;
}

.context h1 {
  text-align: center;
  color: #B5EAEA;
  font-size: xx-large;
}

.area {
  background: -webkit-linear-gradient(top, #F38BA0, #FFBCBC);
  width: 100%;
  height: 100vh;
}

.shapes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shapes li {
  position: relative;
  display: block;
  background: #EDF6E5;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  from {
    transform: scale(1.2) translateY(0) rotate(0);
    opacity: 0.8;
    border-radius: 0%;
  }

  to {
    transform: scale(0.3) translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }
}